
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color:#d6aaaa;
  position: absolute;
  border-radius: 3px;
  width:100%;
}
li{
  border-radius: 3px;
  float:left;
  text-align: center;
  border-right: 1px solid #bbb;
}

li:last-child{
  border-right:none;
}

a {
  display: block;
  color:#4b4a4a;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #39011d;
  color: white;
}

.active{
  background-color: #39011d;
  color:white;
}
.nav{
  margin: 0 0 4% 0;
}
.h{
  width:100%;
}
.h img{
  display: block; 
  margin: 0 auto;
}

.container{
  width:100%;
  height:100%;
}
body{
background-color:#edebe9;
position:relative;
font-family:"sans-serif";
color:#4b4a4a;
}

.nimg{
text-align: center;
height:40%;  
}
.const{
height:300px;
width:300px;
margin:0 auto;

}

[class*="body-"]{
    margin: 0 auto;
  max-width: 98%;
  height: 98%;
  background:url(images/60lines.png) repeat;
  background-color: #ededed;
  border-radius: 3px;
}
.body-display{
height:15%;
text-align: center;
}
.mainicon{
  padding:5px;
  height:75px;
  width:75px;
 display: inline-block; 
  margin: 0 auto;
}

.socialicons{
  padding:5px;
  height:75px;
  width:75px;
 display: inline-block; 
  margin: 0 auto;

}
}